<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appgrado">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuestionPensEducaFinancieraLevel2"></activity>
        <activity android:name=".QuestionPensEducaFinancieraLevel1" />
        <activity android:name=".QuestionPensProcesosLevel2" />
        <activity android:name=".QuestionPensProcesosLevel1" />
        <activity android:name=".QuestionPensAleatorioLevel2" />
        <activity android:name=".QuestionPensAleatorioLevel1" />
        <activity android:name=".QuestionPensMetricoyGeomeLevel2" />
        <activity android:name=".QuestionPensMetricoyGeomeLevel1" />
        <activity android:name=".QuestionPensNumyVariLevel2" />
        <activity android:name=".QuestionPensNumyVariLevel1" />
        <activity android:name=".QuestionRazonamientoLevel2" />
        <activity android:name=".SubmenuPensEducaFinanciera" />
        <activity android:name=".SubmenuPensProcesos" />
        <activity android:name=".SubmenuPensAleatorio" />
        <activity android:name=".SubmenuPensMetricoyGeome" />
        <activity android:name=".SubmenuPensNumyVari" />
        <activity android:name=".QuestionRazonamientoLevel1" />
        <activity android:name=".SubmenuRazonamiento" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".WonActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>